<div class="pageHeader">
	<%= render 'side_panel' %>
</div>
<%= render 'shared/search' %>
<div class="pageContent">
	<p class="employeesHeader">Employees: <%= @search.size %></p>
	<div class="allEmployees">
		<%= render @employees %>
		<%= will_paginate @employees, separator: "" %>
	</div>
	<div class="clear"></div>
</div>