<div class="employeeNew">
	<p class="employeeNewHeader">New Note</p>
	<%= form_for @note do |f| %>
		<div class="employeeNewForm">
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.hidden_field :employee_id, value: @employee.id %>
			<div class="field">
				<p>Note Name</p>
				<%= f.text_field :name, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Content</p>
				<%= f.text_area :content, autocomplete: "off", class: "noteContent" %>
			</div>
			<div class="action">
				<%= f.submit "Create" %>
				<%= link_to "Cancel", notes_employee_path(@employee) %>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
</div>