<div class="pageHeader">
	<ul>
		<li><%= link_to "Wet Station Assignment", wet_assignment_path %></li>
		<li><%= link_to "Entry Station Assignment", entry_assignment_path %></li>
		<li><%= link_to "Delete All Assignments", delete_assignments_path, confirm: "Are you sure you want to delete all assignments?" %></li>
	</ul>
</div>
<div class="pageContent">
	<div class="wetStation">
		<% @wet_station.each do |month_day, assignments| %>
			<p class="wetStationDate"><%= month_day %></p>
			<% for assignment in assignments %>
				<%= render partial: 'assignment', object: assignment %>
			<% end %>
		<% end %>
	</div>
	<div class="entryStation">
		<% @entry_station.each do |month_day, assignments| %>
			<p class="wetStationDate"><%= month_day %></p>
			<% for assignment in assignments %>
				<%= render partial: 'assignment', object: assignment %>
			<% end %>
		<% end %>
	</div>
	<div class="clear"></div>
</div>