<li><%= link_to "New Job", new_job_path %></li>
<li><%= link_to "All Jobs", all_jobs_path %></li>
<li><%= link_to "Assign Wet Station", wet_assignment_path %></li>
<li><%= link_to "Assign Entry Station", entry_assignment_path %></li>
<li><%= link_to "Delete All Assignments", delete_assignments_path, confirm: "Are you sure you want to delete all assignments?" %></li>