<div class="employeeNew">
	<p class="employeeNewHeader">New Defaults</p>
	<div class="employeeNewForm">
		<%= form_for @default do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="field">
				<p>Max Number of Employees in the Lab</p>
				<%= f.text_field :lab_employees, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Work Days in the Week</p>
				<%= f.text_field :work_days, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Employees needed at the Wet Station each day</p>
				<%= f.text_field :wet_employees, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Employees needed at the Entry Station each week</p>
				<%= f.text_field :entry_employees, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Employees needed at the Wet Ones each week</p>
				<%= f.text_field :wones_employees, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Employees needed at the Rejects Station each week</p>
				<%= f.text_field :qns_employees, autocomplete: "off" %>
			</div>
			<div class="field">
				<p>Employees needed at Sarah's Station each week</p>
				<%= f.text_field :sarah_employees, autocomplete: "off" %>
			</div>
			<div class="action">
				<%= f.submit "Create" %>
				<%= link_to "Cancel", defaults_path %>
			</div>
		<% end %>
	</div>
</div>