<div class="dashboard">
	<div class="dashboardLab">
		<div class="dashboardWet">
			<p class="dashboardHeader">Today's Wet Station - <%= Time.now.strftime("%A %m-%d-%y") %></p>
			<%= render partial: 'employee', collection: @wet_current %>
			<div class="clear"></div>
		</div>
		<div class="dashboardEntry">
			<p class="dashboardHeader">This Week's Entry Station</p>
			<%= render partial: 'employee', collection: @entry_current %>
			<div class="clear"></div>
		</div>
		<p class="dashboardHeader dashboardLabHeader">Employees Working in Lab</p>
		<%= render partial: 'employee', collection: @lab %>
	</div>
	<div class="dashboardOffice">
		<p class="dashboardHeader dashboardOfficeHeader">Employees Working in Office</p>
		<%= render partial: 'employee', collection: @office %>
	</div>
</div>