<% content_for :head do %>
	<script>
		$(document).ready(function() {
			$('.dividerLab').height($('.dashboard').height() - 150);
		})
	</script>
<% end %>
<p class="dashboardHeader">The Laboratory</p>
<div class="dashboard">
	<div id="leftLab" class="dashboardLab">
		<div id="station2" class="station">
			<div class="seat seat1">
				<%= link_to "#{@station2_1.last_name}, #{@station2_1.first_name}", @station2_1 if @station2_1 %>
			</div>
			<div class="seat seat2">
				<%= link_to "#{@station2_2.last_name}, #{@station2_2.first_name}", @station2_2 if @station2_2 %>
			</div>
			<div class="stationName">
				<p>Station 2</p>
			</div>
			<div class="seat seat3">
				<%= link_to "#{@station2_3.last_name}, #{@station2_3.first_name}", @station2_3 if @station2_3 %>
			</div>
			<div class="seat seat4">
				<%= link_to "#{@station2_4.last_name}, #{@station2_4.first_name}", @station2_4 if @station2_4 %>
			</div>
		</div>
		<div id="station4" class="station">
			<div class="seat seat1">
				<%= link_to "#{@station4_1.last_name}, #{@station4_1.first_name}", @station4_1 if @station4_1 %>
			</div>
			<div class="seat seat2">
				<%= link_to "#{@station4_2.last_name}, #{@station4_2.first_name}", @station4_2 if @station4_2 %>
			</div>
			<div class="stationName">
				<p>Station 4</p>
			</div>
			<div class="seat seat3">
				<%= link_to "#{@station4_3.last_name}, #{@station4_3.first_name}", @station4_3 if @station4_3 %>
			</div>
			<div class="seat seat4">
				<%= link_to "#{@station4_4.last_name}, #{@station4_4.first_name}", @station4_4 if @station4_4 %>
			</div>
		</div>
		<div id="station7" class="station">
			<div class="seat seat1">
				<%= link_to "#{@station7_1.last_name}, #{@station7_1.first_name}", @station7_1 if @station7_1 %>
			</div>
			<div class="seat seat2">
				<%= link_to "#{@station7_2.last_name}, #{@station7_2.first_name}", @station7_2 if @station7_2 %>
			</div>
			<div class="stationName">
				<p>Station 7</p>
			</div>
			<div class="seat seat3">
				<%= link_to "#{@station7_3.last_name}, #{@station7_3.first_name}", @station7_3 if @station7_3 %>
			</div>
			<div class="seat seat4">
				<%= link_to "#{@station7_4.last_name}, #{@station7_4.first_name}", @station7_4 if @station7_4 %>
			</div>
		</div>
	</div>
	<div id="rightLab" class="dashboardLab">
		<div id="station1" class="station">
			<div class="seat seat1">
				<%= link_to "#{@station1_1.last_name}, #{@station1_1.first_name}", @station1_1 if @station1_1 %>
			</div>
			<div class="seat seat2">
				<%= link_to "#{@station1_2.last_name}, #{@station1_2.first_name}", @station1_2 if @station1_2 %>
			</div>
			<div class="stationName">
				<p>Station 1</p>
			</div>
			<div class="seat seat3">
				<%= link_to "#{@station1_3.last_name}, #{@station1_3.first_name}", @station1_3 if @station1_3 %>
			</div>
			<div class="seat seat4">
				<%= link_to "#{@station1_4.last_name}, #{@station1_4.first_name}", @station1_4 if @station1_4 %>
			</div>
		</div>
		<div id="station3" class="station">
			<div class="seat seat1">
				<%= link_to "#{@station3_1.last_name}, #{@station3_1.first_name}", @station3_1 if @station3_1 %>
			</div>
			<div class="seat seat2">
				<%= link_to "#{@station3_2.last_name}, #{@station3_2.first_name}", @station3_2 if @station3_2 %>
			</div>
			<div class="stationName">
				<p>Station 3</p>
			</div>
			<div class="seat seat3">
				<%= link_to "#{@station3_3.last_name}, #{@station3_3.first_name}", @station3_3 if @station3_3 %>
			</div>
			<div class="seat seat4">
				<%= link_to "#{@station3_4.last_name}, #{@station3_4.first_name}", @station3_4 if @station3_4 %>
			</div>
		</div>
		<div id="station5" class="station">
			<div class="seat seat1">
				<%= link_to "#{@station5_1.last_name}, #{@station5_1.first_name}", @station5_1 if @station5_1 %>
			</div>
			<div class="seat seat2">
				<%= link_to "#{@station5_2.last_name}, #{@station5_2.first_name}", @station5_2 if @station5_2 %>
			</div>
			<div class="stationName">
				<p>Station 5</p>
			</div>
			<div class="seat seat3">
				<%= link_to "#{@station5_3.last_name}, #{@station5_3.first_name}", @station5_3 if @station5_3 %>
			</div>
			<div class="seat seat4">
				<%= link_to "#{@station5_4.last_name}, #{@station5_4.first_name}", @station5_4 if @station5_4 %>
			</div>
		</div>
		<div id="station6" class="station">
			<div class="seat seat1">
				<%= link_to "#{@station6_1.last_name}, #{@station6_1.first_name}", @station6_1 if @station6_1 %>
			</div>
			<div class="seat seat2">
				<%= link_to "#{@station6_2.last_name}, #{@station6_2.first_name}", @station6_2 if @station6_2 %>
			</div>
			<div class="stationName">
				<p>Station 6</p>
			</div>
			<div class="seat seat3">
				<%= link_to "#{@station6_3.last_name}, #{@station6_3.first_name}", @station6_3 if @station6_3 %>
			</div>
			<div class="seat seat4">
				<%= link_to "#{@station6_4.last_name}, #{@station6_4.first_name}", @station6_4 if @station6_4 %>
			</div>
		</div>
	</div>
	<div class="divider">
		<div class="dividerLab"></div>
		<div id="station8">
			<div class="seat seat1">
				<%= link_to "#{@station8_1.last_name}, #{@station8_1.first_name}", @station8_1 if @station8_1 %>
			</div>
			<div class="seat seat2">
				<%= link_to "#{@station8_2.last_name}, #{@station8_2.first_name}", @station8_2 if @station8_2 %>
			</div>
			<div class="stationName">
				<p>Station 8</p>
			</div>
			<div class="seat seat3">
				<%= link_to "#{@station8_3.last_name}, #{@station8_3.first_name}", @station8_3 if @station8_3 %>
			</div>
			<div class="seat seat4">
				<%= link_to "#{@station8_4.last_name}, #{@station8_4.first_name}", @station8_4 if @station8_4 %>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="station9" class="station">
	<div class="seat seat1">
		<%= link_to "#{@station9_1.last_name}, #{@station9_1.first_name}", @station9_1 if @station9_1 %>
	</div>
	<div class="seat seat2">
		<%= link_to "#{@station9_2.last_name}, #{@station9_2.first_name}", @station9_2 if @station9_2 %>
	</div>
	<div class="stationName">
		<p>Station 9</p>
	</div>
	<div class="seat seat3">
		<%= link_to "#{@station9_3.last_name}, #{@station9_3.first_name}", @station9_3 if @station9_3 %>
	</div>
	<div class="seat seat4">
		<%= link_to "#{@station9_4.last_name}, #{@station9_4.first_name}", @station9_4 if @station9_4 %>
	</div>
</div>