<div class="pageHeader">
	<ul>
		<li><%= link_to "New Location", new_location_path %></li>
		<li><%= link_to "Switch Locations", switch_locations_path %></li>
		<li><%= link_to "Set/Reset Locations", set_locations_path %></li>
		<li><%= link_to "Delete All Locations", delete_directions_path, confirm: "Are you sure you want to delete all locations?" %></li>
	</ul>
</div>
<div class="pageContent">
	<div class="lab">
		<p class="locationHeader">Lab: <%= pluralize(@lab.size, 'Employee') %></p>
		<div class="locationData">
			<p><%= @lab.map { |e| e.tier }.sum %> Tier Level Total</p>
			<p><%= @lab.size - @lab.map { |e| e.wet_worked }.count(false) %> Have Worked Wet Station</p>
			<p><%= @lab.size - @lab.map { |e| e.entry_worked }.count(false) %> Have Worked Entry Station</p>
		</div>
		<div class="locationEmployees">
			<%= render partial: 'locations/employee', collection: @lab %>
		</div>
	</div>
	<div class="office">
		<p class="locationHeader">Office: <%= pluralize(@office.size, 'Employee') %></p>
		<div class="locationData">
			<p><%= @office.map { |e| e.tier }.sum %> Tier Level Total</p>
			<p><%= @office.size - @office.map { |e| e.wet_worked }.count(false) %> Have Worked Wet Station</p>
			<p><%= @office.size - @office.map { |e| e.entry_worked }.count(false) %> Have Worked Entry Station</p>
		</div>
		<div class="locationEmployees">
			<%= render partial: 'locations/employee', collection: @office %>
		</div>
	</div>
	<div class="clear"></div>
</div>